.header{
  display: flex;
  justify-content: center;
  justify-content: space-between;
  background-color: lightsalmon;
  
}
.btn{
  background-color: lightgreen;
}
.logo{
  text-decoration: line-through;
}